.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 56px;
}
  
.main {
	position: relative;
	display: flex;
	flex-direction: row;
	column-gap: 20px;
    width: 70vw;
    margin: 20px;
	padding: 20px;
}

/* ------------------------------------------------
[ Cart Section ] */
.cartSection {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: var(--shadow);
	width: 100%;
	padding: 20px 40px;
}

.label {
	font-size: 24px;
}

.list {
	position: relative;
    width: 100%;
	/* height: 500px;
	overflow: auto; */
}

.cartSection .item {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 10px;
    border-bottom: 1px solid #0e0e0e;
    border-color: rgba(209,213,219,0.8);
}

.cartSection .item .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartSection .item .imageContainer .image {
	position: relative;
	--img-const: 0.7;
    --img-height: 150px;
    min-height: var(--img-height);
    max-height: var(--img-height);
    min-width: calc( var(--img-height) * var(--img-const));
    max-width: calc( var(--img-height) * var(--img-const));
	box-shadow: var(--book-shadow);
    border: 1px solid #f0f0f0;
    border-radius: 7px;
    overflow: hidden;
    user-select: none;
}

.cartSection .item .detailGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartSection .item .details {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 4px;
}

.cartSection .item .details .title {
	font-size: 16px;
	font-weight: 500;
    text-decoration: underline;
    color: #3761ee;
    width: fit-content;
}

.cartSection .item .details .warningLabel {
    /* color: #FFC107; */
    color: #ec9a00;
    /* background-color: #FFC107; */
    width: fit-content;
}

.cartSection .item .details .warningRedLabel {
    color: #DC3545;
}

.cartSection .item .right {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	/* min-width: 120px; */
}

.cartSection .item .right .remove {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.btn {
	background-color: rgb(250, 191, 81);
	border-radius: 15px;
	width: 100%;
	padding: 4px;
    margin-top: 10px;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

/* ------------------------------------------------
[ Check Out Section ] */

.checkOutSection .subSection{
	position: relative;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: var(--shadow);
	min-width: 280px;
	max-width: 280px;
	padding: 20px;
    margin-bottom: 20px;
    height: fit-content;
}

.checkOutSection .subSection .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 25px;
}

.checkOutSection .optionGroup {
    display: flex;
    gap: 10px;
    padding: 5px 0;
}

.checkOutSection .optionGroup .option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 115px;
    height: 40px;
    box-shadow: var(--book-shadow);
    border: 1px solid #D1D5D8;
    border-radius: 10px;
    cursor: pointer;
}

.checkOutSection .optionGroup .option.select {
    border: #3761ee 2px solid;
    background-color: #ebeffd;
}

/* ------------------------------------------------
[ Dropdown ] */
.dropdownGroup {
    position: relative;
}
.dropdownGroup .dropdownSelection{
	background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    transition: all ease 0.5;
    cursor: pointer;
	width: 60px;
	user-select: none;
    position: relative;
}

.dropdownGroup .dropdownSelection svg{
    font-size: 18px;
}

.dropdownGroup .dropdownList{
    background-color: #fff;
    position: absolute;
    margin-top: 1px;
    padding: 4px 0;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    width: 60px;
    opacity: 0;
    visibility: hidden;
    display: none;
	z-index: 2;
}

.dropdownGroup.showDropdown .dropdownSelection {
    cursor: pointer;
}

.dropdownGroup.showDropdown .dropdownList {
    opacity: 1;
    visibility: visible;
    display: block;
    border-top: none;
}

.dropdownGroup .dropdownList .dropdownItem {
    cursor: pointer;
    padding: 2px 8px;
}
.dropdownGroup .dropdownList .dropdownItem:hover {
    color: #3761ee;
    background-color: #ebeffd;
}
.dropdownItemDisable {
    padding: 2px 8px;
}
.dropdownItemDisable:hover {
    background-color: #cecece;
}

@media screen and (max-width: 1700px) {
    .main {
      width: 80vw;
    }
}

@media screen and (max-width: 1600px) {
    .main {
      width: 90vw;
    }
}
  
@media screen and (max-width: 1376px) {
    .main {
      width: 90vw;
    }
}
  
@media screen and (max-width: 1200px) {
    .main {
        width: 95vw;
    }
}
  
/* ------------------------------------------------
[ Medium device (tablets) ] */
@media screen and (max-width: 992px) {
    .container {
      padding-top: 95px;
    }
    .main {
        flex-direction: column;
        gap: 15px;
    }
    .cartSection {
        padding: 20px;
    }
    .checkOutSection .subSection{
        min-width: 100%;
        max-width: 100%;
    }
}
  
/* ------------------------------------------------
[ Small device (phone) ] */
@media screen and (max-width: 576px) {
    .main {
		width: 100vw;
        margin: 20px 0px;
    }
    .cartSection .item .detailGroup {
        flex-direction: column;
    }
    .cartSection .item .right {
        justify-content: start;
        padding-left: 10px;
    }
}
  
/* ------------------------------------------------
[ Extra small device (smaller then iPhone SE) ] */
@media screen and (max-width: 356px) {
    .container {
      padding-top: 56px;
    }
    .cartSection .item {
        flex-direction: column;
        border-bottom: 1px solid #0e0e0e;
        border-color: rgba(209,213,219,0.8);
    }
}