/* ------------------------------------------------
[ Container ] */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

/* ------------------------------------------------
[ Main ] */
.main {
    height: 100%;
    width: 80vw;
    margin-top: 40px;
    padding: 30px 0;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.screen {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    padding: 40px;
}

.title {
    font-size: 30px;
    font-weight: 600;
}

.profile_header {
    text-decoration: none solid rgb(2, 26, 36);
    text-align: left;
    display: flex;
    align-items: center;
    word-spacing: 0px;
    font-size: 18px;
    line-height: 24px;
    /* font-family: Helvetica, Thonburi, Tahoma, sans-serif; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 5px;
}

.profile_header .profile_left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.profile_header .profile_left .images_profile {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile_header .profile_left .profile_name {
    display: flex;
    flex-direction: column;
}

.row {
    display: block;
}

.row .label {
    display: inline-flex;
    min-width: 100px;
    width: 100px;
}

.row .value {
    display: inline;
}

.row .emailVerifyAlert {
    color: red;
    font-size: 15px;
}

.row .emailVerifyAlert .link {
    cursor: pointer;
}

.row .emailVerifyAlert .link:hover {
    text-decoration: underline;
}

.profile_header .edit {
    text-align: center;
    /* margin-left: auto; */
    background-color: #FFFFFF;
    border: 1px solid #00BF6C;
    color: #00BF6C;
    padding: 6px 12px 6px 12px;
    min-width: 80px;
    /* float: right; */
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.profile_header .edit:hover {
    background-color: #00BF6C;
    color: #FFFFFF;
}

.live {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.profile_content {
    text-decoration: none solid rgb(2, 26, 36);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-spacing: 0px;
    font-size: 18px;
    line-height: 24px;
    /* font-family: Helvetica, Thonburi, Tahoma, sans-serif; */
    width: 100%;
    margin-bottom: 20px;
    word-break: break-word;

    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 15px;
    padding: 15px;
}

.profile_content .btnGroup {
    display: flex;
    gap: 5px;
}

.liveEdit {
    text-align: center;
    margin-left: auto;
    background-color: #FFFFFF;
    border: 1px solid #00BF6C;
    color: #00BF6C;
    padding: 6px 12px 6px 12px;
    min-width: 40px;
    float: right;
    cursor: pointer;
    border-radius: 30px;
}

.liveEdit:hover {
    background-color: #00BF6C;
    color: #FFFFFF
}

.liveDelete {
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid red;
    color: red;
    padding: 6px 12px 6px 12px;
    min-width: 40px;
    cursor: pointer;
    border-radius: 30px;
}

.liveDelete:hover {
    background-color: red;
    color: #FFFFFF
}

.profile_content .edit {
    text-align: center;
    margin-left: auto;
    background-color: #FFFFFF;
    border: 1px solid #00BF6C;
    color: #00BF6C;
    padding: 6px 12px 6px 12px;
    min-width: 80px;
    cursor: pointer;
    border-radius: 30px;
}

.profile_content .edit:hover {
    background-color: #00BF6C;
    color: #FFFFFF;
}

.liveAdd {
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #00BF6C;
    color: #00BF6C;
    padding: 6px 12px 6px 12px;
    min-width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
}

.liveAdd:hover {
    background-color: #00BF6C;
    color: #FFFFFF
}

.images_profile {
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.profile_img {
    /* border-radius: 50%;
    width: 100px;
    height: 100px; */
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

@media screen and (max-width: 1700px) {
    .main {
        width: 80vw;
    }
}

@media screen and (max-width: 1376px) {
    .main {
        width: 90vw;
    }
}

@media screen and (max-width: 992px) {
    .container {
        padding-top: 96px;
    }
    .title {
        font-size: 26px;
    }
    .live {
        font-size: 20px;
    }
}

/* ------------------------------------------------
[ Small device (phone) ] */
@media screen and (max-width: 576px) {
    .main {
        margin: 20px 0px;
    }
    .title {
        font-size: 24px;
        font-weight: 600;
    }
    .live {
        font-size: 18px;
    }
    .profile_content {
        flex-direction: column;
        align-items: flex-start;
    }
    .btnGroup {
        align-items: flex-end;
        width: 100%;
    }
}

/* ------------------------------------------------
[ Extra small device (smaller then iPhone SE) ] */
@media screen and (max-width: 356px) {
    .container {
        padding-top: 56px;
    }

    .main {
        padding: 30px 10px;
    }
}