/* ------------------------------------------------
[ Container ] */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

/* ------------------------------------------------
[ Main ] */
.main {
    height: 100%;
    width: 80vw;
    margin-top: 40px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    --sideBarWidth: 250px;
}

/* ------------------------------------------------
[ Side bar ] */
.sideBar {
    width: var(--sideBarWidth);
    z-index: 10;
}
.sideBar .item {
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}
/* make first child no margin */
.sideBar .item:nth-child(2){
    margin: 0;
}
.item hr {
    margin: 15px 0;
}
.title {
    margin-bottom: 5px;
}

.sideBar .closeButton {
    position: absolute;
    right: 0;
    font-size: 24px;
    padding: 10px 20px 10px 5px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

/* dropdown */
.dropdownGroup {
    user-select: none;
    position: relative;
    z-index: 2;
}

.dropdownSM {
    width: 110px;
    max-height: 35px;
}

.dropdownGroup.dropdownSM .dropdownSelection {
    padding: 6px 6px 6px 8px;
}

.dropdownGroup .dropdownSelection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    transition: all ease 0.5;
    cursor: pointer;
    max-height: 35px;
}

.dropdownGroup .dropdownSelection svg{
    font-size: 20px;
}

.dropdownGroup .dropdownList{
    background-color: #fff;
    position: absolute;
    margin-top: 2px;
    padding: 4px 0;
    /* border-radius: 0 0 8px 8px; */
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow-y: hidden;
}

.dropdownGroup.showDropdown .dropdownSelection {
    cursor: pointer;
    /* border-radius: 8px 8px 0 0; */
    box-shadow: var(--shadow);
}

.dropdownGroup.showDropdown .dropdownList {
    opacity: 1;
    visibility: visible;
    border-top: none;
}

.dropdownGroup .dropdownList .dropdownItem {
    cursor: pointer;
    padding: 6px 8px;
}
.dropdownGroup .dropdownList .dropdownItem:hover {
    color: #3761ee;
    background-color: #ebeffd;
}

/* checkbox selector */
.item .selector{
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}
.item .selector .subItem {
    padding: 2px 5px;
    border-radius: 15px;
    cursor: pointer;
}
.item .selector .subItem:hover {
    background-color: #ebeffd;
    color: #3761ee;
}
.item .selector .subItem label {
    margin-left: 2.5px;
    cursor: pointer;
}
.item .selector .subItem input {
    cursor: pointer;
}

.item .buttonGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.buttonGroup .btn {
    border: 1px solid #cecece;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}
.buttonGroup .btn:hover {
    background-color: #efefef;
    color: #272727;
}
.buttonGroup .btnActive {
    border: 1px solid #cecece;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: #ebeffd;
    color: #3761ee;
}
.buttonGroup .btnActive:hover {
    background-color: #d1d9f8;
    color: #3761ee;
}


.item .row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.item .row .priceInput {
    width: 50px;
}
.item .starGroup {
    display: flex;
    flex-direction: row;
    height: fit-content;
    font-size: 40px;
}

/* star group */
.star{
    color: #bdbdbd;
    transition: all ease 0.2s;
}
.starHover {
    transition-delay: 0.05s;
    color: #FFD700;
}

.fullStarGroup {
    position: relative;
    display: flex;
    flex-direction: row;
    color: #bdbdbd;
    margin-left: -5px;
}
.fullStarGroup:nth-child(1) {
    margin-left: 0px;
}

.starHalfRight {
    position: absolute;
    left: -0.5px;
    transform: scaleX(-1);
}

.labelGroup {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    cursor: pointer;
}
.leftLabel{
    width: 50%;
    height: 90%;
}
.rightLabel{
    width: 50%;
    height: 90%;
}

/* Chrome, Safari, Edge, Opera */
.item input::-webkit-outer-spin-button,
.item input::-webkit-inner-spin-button {
  /* -webkit-appearance: none; */
  appearance: none;
  margin: 0;
}

/* Firefox */
/* .item input[type=number] {
  -moz-appearance: textfield;
} */

/* ------------------------------------------------
[ List product ] */
.listProducts {
    background-color: #fff;
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding: 20px;
    width: calc(100% - var(--sideBarWidth));
    height: fit-content;
}

.listProducts .top .title {
    font-size: 28px;
}

/* Filter group */
.filterGroup {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    gap: 5px;
}

.filterGroup .filterCategoryDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 6px;
}

.filterGroup .filterCategoryDetail .label {
    /* position: absolute; */
    display: block;
    width: 45px;
    height: 35px;
    
    margin-top: 0;
    margin-bottom: auto;
}

.filterGroup .filterCategoryDetail .category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5px;
    gap: 5px;
    margin-top: 0;
    margin-bottom: auto;
    /* user-select: none; */
}

.category .item {
    background-color: #F3F4F6;
    padding: 0px 10px;
    border-radius: 20px;
    text-align: center;
    white-space: nowrap;
}

.filterGroup .orderBy {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
    height: fit-content;
    /* margin: 0 0 0 auto; */
    min-width: 220px;
}

.filterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(163, 168, 177);
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    display: none;
}

.sortButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1d1d1d;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.sortButton svg{
    /* look more center */
    transform: translateY(1px);
}

@media screen and (max-width: 1700px) {
    
}
  
@media screen and (max-width: 1376px) {
    .main {
      width: 90vw;
    }
}
  
@media screen and (max-width: 1200px) {
    .item .selector .subItem {
        padding: 5px 5px;
        border-radius: 15px;
    }
}
  
/* ------------------------------------------------
[ Medium device (tablets) ] */
@media screen and (max-width: 992px) {
    .container {
        padding-top: 95px;
    }
    .main {
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 800px;
        box-shadow: var(--shadow);
        margin: 40px;
        display: block;
        z-index: 9;
    }
    .sideBar {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform ease 0.35s;
        background-color: #fff;
        border-radius: 15px;
        z-index: 8;
    }
    .show {
        transform: translateX(0%);
    }
    .sideBar .closeButton {
        opacity: 1;
        visibility: visible;
    }
    .sideBar .item {
        box-shadow: none;
        overflow: hidden;
        padding-bottom: 0;
        margin: 0;
    }
    .sideBar .item:nth-child(2) .title {
        margin: 10px 0;
    } 

    .listProducts {
        width: 100%;
        min-height: 800px;
    }
    
    .dummyItem {
        background-color: #fff;
        width: 100%;
        height: 100%;
    }
    .filterGroup .orderBy {
        min-width: 190px;
    }
    .filterGroup .orderBy .label {
        opacity: 0;
        visibility: visible;
        display: none;
    }
    .filterButton {
        opacity: 1;
        visibility: visible;
        display: flex;
    }
    
}
  
/* ------------------------------------------------
[ Small device (phone) ] */
@media screen and (max-width: 576px) {
    .main {
        width: 100%;
        margin: 40px 15px;
    }
    .item .selector .subItem {
        padding: 6px 5px;
    }
    .filterGroup {
        flex-wrap: wrap-reverse;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: start;
    }
    .filterGroup .orderBy {
        flex-wrap: wrap;
        margin: 0 0 0 auto;
        min-width: 0px;
        width: auto;
    }

    .filterGroup .filterCategoryDetail {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 6px;
        width: 100%;
    }
    
    .filterGroup .filterCategoryDetail .label {
        display: block;
        width: 50px;
        height: auto;
        
        margin: 0;
    }
    .filterGroup .filterCategoryDetail .category {
        flex-wrap: nowrap;
        overflow: scroll;
        width: 100%;
        margin-top: 0;
        margin-bottom: auto;
        align-items: center;
        cursor: grab;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .filterGroup .filterCategoryDetail .category::-webkit-scrollbar {
        display: none;
    }
}
  
/* ------------------------------------------------
[ Extra small device (smaller then iPhone SE) ] */
@media screen and (max-width: 356px) {
    .container {
      padding-top: 56px;
    }
    .item .starGroup {
        font-size: 30px;
    }
}