  /* ------------------------------------------------
  [ container ] */
.container {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    display: flex;
    flex-direction: row;
    min-height: 922px;
    height: 100vh;
    width: fit-content;
    min-width: 100vw;
    background-color: var(--dashboard-background);
}

.contentContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.addProductWrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    padding: 80px 120px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

  /* ------------------------------------------------
  [ file drop area ] */
.fileDropArea {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 350px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.imagesPreview {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagesPreview img{
    position: relative;
    width: auto;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.inputField {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    opacity: 0;
    cursor: pointer;
}

.fakeBtn {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.msg {
    max-width: 100%;
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

  /* ------------------------------------------------
  [ input form ] */
.inputFormWarp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.inputWarp {
    margin: 5px;
    width: 100%;
}

.inputWarp .label {
    line-height: 1.5;
}

.inputWarp input {
    width: 400px;
    height: 30px;
    border: 1px solid #BBC1C9;
    border-radius: 7px;
    padding-left: 10px;
}

.inputWarp input:focus{
    outline: none !important;
    border: 1px solid rgba(65, 64, 66, 0.911);
    box-shadow: var(--dashboard-shadow)
}

.inputWarp textarea {
    width: 400px;
    height: 80px;
    resize: none;
    border: 1px solid #BBC1C9;
    border-radius: 7px;
    padding-left: 10px;
    padding-top: 5px;
}

.inputWarp textarea:focus {
    outline: none !important;
    border: 1px solid rgba(65, 64, 66, 0.911);
    box-shadow: var(--dashboard-shadow)
}

/* ------------------------------------------------
[ show genres & keywords ] */
.groupLabel {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin-bottom: 2px;
}
.groupLabel .details {
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 0 6px 0 10px;
    margin: 3px;
    font-size: 14px;
}
.details .removeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
    margin-left: 3px;
    cursor: pointer;
    font-size: 16px;
}

.details .removeIcon:hover{
    color: #D92626;
}

/* ------------------------------------------------
[ Dropdown ] */
.dropdownGroup {
    position: relative;
}
.dropdownGroup .dropdownSelection{
	background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    transition: all ease 0.5;
    cursor: pointer;
	width: 150px;
	user-select: none;
    position: relative;
}

.dropdownGroup .dropdownSelection svg{
    font-size: 18px;
}

.dropdownGroup .dropdownList{
    background-color: #fff;
    position: absolute;
    padding: 4px 0;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    width: 100%;
    height: 180px;
    opacity: 0;
    visibility: hidden;
    display: none;
	z-index: 2;
    overflow: auto;
}

.dropdownGroup.showDropdown .dropdownSelection {
    cursor: pointer;
}

.dropdownGroup.showDropdown .dropdownList {
    opacity: 1;
    visibility: visible;
    display: block;
}

.dropdownGroup .dropdownList .dropdownItem {
    cursor: pointer;
    padding: 2px 8px;
}
.dropdownGroup .dropdownList .dropdownItem:hover {
    color: #3761ee;
    background-color: #ebeffd;
}


  /* ------------------------------------------------
  [ submit button ] */
.button4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-top: 10px;
}

.button4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}


.button4:active {
  background-color: #F3F4F6;
  box-shadow: rgba(0, 0, 0, 0.308) 0 inset;
  transition: none 0s;
}

.button4:focus {
  outline: 1px transparent;
}

@media screen and (max-width: 1700px) {
    .contentContainer {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1400px) {
    .addProductWrap {
        padding: 90px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .contentContainer {
        position: relative;
        width: calc(100% - 78px);
        display: flex;
        justify-content: center;
        margin-left: 78px;
    }
}

@media screen and (max-width: 992px) {
    .addProductWrap {
        padding: 90px 50px;
        margin-bottom: 60px;
    }
    .fileDropArea{
        height: 350px;
        width: 250px;
    }
    .inputWarp input{
        width: 300px;
    }
    .inputWarp textarea{
        width: 300px;
    }

    .groupLabel {
        max-width: 300px;
    }

    .dropdownGroup .dropdownList .dropdownItem {
		padding: 4px 8px;
	}
}

@media screen and (max-width: 786px) {
    .container {
        height: fit-content;
        min-height: 1100px;
    }
    .addProductWrap{
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
        height: fit-content;
        padding: 70px 50px;
    }
    .inputFormWarp {
        margin-top: 10px;
        padding: 0px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 1050px;
    }
    .contentContainer {
        padding: 4rem 1rem 0 1rem;
        width: 100%;
        margin-left: 0;
    }
    .addProductWrap {
        width: 90vw;
        padding: 50px 20px;
        margin-bottom: 20px;
    }
    .inputFormWarp {
        position: inherit;
        width: 100%;
    }
    .fileDropArea {
        height: 300px;
    }
    .imagesPreview img{
        width: auto;
        height: 100%;
    }
    .inputWarp {
        padding: 0 10px 0 10px;
        width: 100%;
    }
    .inputWarp input{
        width: 100%
    }
    .inputWarp textarea{
        width: 100%;
    }
    .groupLabel {
        max-width: 100%
    }
}

@media screen and (max-width: 250px) {
    .fileDropArea {
        height: 250px;
        font-size: 10px;
    }
}
