.container {
  padding: 0 20rem 0 20rem;
  min-width: 250px;
}

@media screen and (max-width: 1700px) {
  .container {
    padding: 0 15rem 0 15rem;
  }
}

@media screen and (max-width: 1376px) {
  .container {
    padding: 0 10rem 0 10rem;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5rem 0 5rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 2rem 0 2rem;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0rem;
  }
}