.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 56px;
}

.main {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  width: 70vw;
  margin: 20px;
  border-radius: 50px;
  box-shadow: var(--shadow);
}

@media screen and (max-width: 1700px) {
  .main {
    width: 80vw;
  }
}

@media screen and (max-width: 1376px) {
  
}

@media screen and (max-width: 1200px) {
  
}

/* ------------------------------------------------
[ Medium device (tablets) ] */
@media screen and (max-width: 992px) {
  .container {
    padding-top: 95px;
  }
  .main {
    width: 90vw;
  }
}

/* ------------------------------------------------
[ Small device (phone) ] */
@media screen and (max-width: 576px) {
  
}

/* ------------------------------------------------
[ Extra small device (smaller then iPhone SE) ] */
@media screen and (max-width: 356px) {
  .container {
    padding-top: 56px;
  }
}