.limiter {
    width: 100%;
    margin: 0 auto;
}

.containerLogin {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrapLogin {
    width: 960px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 150px 130px 33px 95px;
}

/* ---------------- */
.containerBackBtn {
    position: relative;
}
.backIcon {
    position: absolute;
    top: -5rem;
    left: -2rem;
    font-size: 20px;
    cursor: pointer;
}
.tooltip {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afafaf;
    color: #fff;
    border-radius: 10px;
    visibility: hidden;
    padding: 0px 10px 0px 10px;
    top: -2px;
    right: -60px;
    text-align: center;
}
.containerBackBtn:hover .tooltip{
    visibility: visible;
}

/* ---------------- */
.loginPic {
    width: 316px;
    position: relative;
}

.loginPic img {
    max-width: 100%;
}

/* ---------------- */
.loginForm {
    width: 350px;
}

.loginFormTitle {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 54px;
}

/* ----------- */
.wrapInput {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 50px;

    outline: none;
    border: none;
}

.focusInput {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87, 184, 70, 0.8);
}

.input:focus+.focusInput {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.iconInput {
    font-size: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 22px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input:focus+.focusInput+.iconInput {
    color: #57b846;
    padding-left: 28px;
}

/* ---------------- */
.containerBtn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    
    outline: none !important;
	border: none;
}

.btn:hover {
    background: #333333;
    cursor: pointer;
}

.textCenter {
    text-align: center;
    padding-top: 12px;
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.txt1 {
    padding-right: 5px;
}

.txt1Link:hover {
    color: #57b846;
    transition: all ease 0.125s;
}

.textBottom {
    width: 100%;
    text-align: center;
    padding-top: 6rem;
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
    
}

.txt2 {
    cursor: pointer;
}

.txt2:hover {
    color: #57b846;
    transition: all ease 0.125s;   
}

.textBottom i{
    position: relative;
    top: 2px;
    padding-left: 5px;
}

@media (max-width: 992px) {
    .wrapLogin {
        padding: 177px 90px 33px 85px;
    }
    .loginPic {
        width: 35%;
    }
    .loginForm {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrapLogin {
        padding: 100px 80px 33px 80px;
    }
    .loginPic {
        display: none;
    }
    .loginForm {
        width: 100%;
    }
    .backIcon {
        top: -4rem;
        left: -2rem;
    }
}

@media (max-width: 576px) {
    .wrapLogin {
        padding: 100px 15px 33px 15px;
    }
    .backIcon {
        top: -3rem;
        left: 1rem;
    }
}

@media (max-height: 768px) {
    .wrapLogin {
        padding-top: 15vh;
    }
}

@media (max-height: 576px) {
    .wrapLogin {
        padding-top: 10vh;
    }
    .textBottom {
        padding-top: 2rem;
    }
    .backIcon {
        top: -0.5rem;
    }
}
