  /* ------------------------------------------------
  [ container ] */
  .container {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    display: flex;
    flex-direction: row;
    min-height: 922px;
    height: 100vh;
    width: fit-content;
    min-width: 100vw;
    background-color: var(--dashboard-background);
}

.contentContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.addProductWrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    padding: 60px 120px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

  /* ------------------------------------------------
  [ file drop area ] */
.uploadFiled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 470px;
    max-width: 100%;
}

.fileDropArea {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 350px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.imagesPreview {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagesPreview img{
    position: relative;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.inputField {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    opacity: 0;
    cursor: pointer;
}

.fakeBtn{
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.msg{
    max-width: 100%;
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.listImages {
    padding-top: 5px;
    height: 120px;
    width: 100%;
}
.listImages .image{
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
}
.listImages .image img{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.175);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

  /* ------------------------------------------------
  [ input form ] */
.inputFormWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.inputWrap {
    margin: 5px;
}

.inputWrap .label {
    line-height: 1.5;
}

.inputWrap input {
    width: 400px;
    height: 30px;
    border: 1px solid #BBC1C9;
    border-radius: 7px;
    padding-left: 10px;
}

.inputWrap input:focus{
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: var(--dashboard-shadow)
}

.inputWrap textarea {
    width: 400px;
    height: 80px;
    resize: none;
    border: 1px solid #BBC1C9;
    border-radius: 7px;
    padding-left: 10px;
    padding-top: 5px;
}

.inputWrap textarea:focus {
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: var(--dashboard-shadow)
}

  /* ------------------------------------------------
  [ Radio label && Radio button ] */
.labelRadio {
    margin-left: 5px;
    margin-right: auto;
    height: 28px;
}
.radioInputWrap {
    display: flex;
    flex: 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #e2e8f0;
    border-radius: 8px;
    padding: 4px;
    width: fit-content;
    max-width: 400px;
    margin-left: 5px;
    margin-right: auto;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%), 0 1px 2px 0 rgb(0 0 0 / 4%);
}

.radioInputWrap input{
    display: flex;
    align-items: center;
    border: none;
    width: auto;
    height: 36px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	padding: 4px 8px;
    color: #718096;
    font-size: medium;
    margin: 0 1px;
    border-radius: 6px;
}
.radioInputWrap input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
.radioInputWrap input:checked {
	background-color: #fff;
    /* color: #3182ce; */
    color: #2176c5;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

  /* ------------------------------------------------
  [ show genres & keywords ] */
.groupLabel {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin-bottom: 2px;
}
.groupLabel .details {
    display: flex;
    flex-direction: row;
    background-color: #D4D4D4;
    border-radius: 10px;
    padding: 0 6px 0 10px;
    margin: 3px;
    font-size: 14px;
}
.details .removeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
    margin-left: 3px;
    cursor: pointer;
    font-size: 16px;
}

.details .removeIcon:hover{
    color: #D92626;
}

  /* ------------------------------------------------
  [ dropdown ] */
.groupDropdown .dropdown{
    position: absolute;
    max-height: 100px;
    width: 400px;
    background-color: #fff;
    border: 1px solid #BBC1C9;
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow-y: scroll;
    z-index: 2;
    visibility: hidden;
}

.groupDropdown input:focus ~ .dropdown{
    visibility: visible;
}


.dropdown .dropdownList .dropdownItem{
    padding: 3px;
    padding-left: 10px;
    cursor: pointer;
}

.dropdown .dropdownList .dropdownItem:hover{
    background-color: #D4D4D4;
}


  /* ------------------------------------------------
  [ submit button ] */
.button4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-top: 10px;
}

.button4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}


.button4:active {
  background-color: #F3F4F6;
  box-shadow: rgba(0, 0, 0, 0.308) 0 inset;
  transition: none 0s;
}

.button4:focus {
  outline: 1px transparent;
}

@media screen and (max-width: 1700px) {
    .contentContainer {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1400px) {
    .addProductWrap {
        padding: 90px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .contentContainer {
        position: relative;
        width: calc(100% - 78px);
        display: flex;
        justify-content: center;
        margin-left: 78px;
    }
}

@media screen and (max-width: 992px) {
    .addProductWrap {
        padding: 90px 50px;
        margin-bottom: 60px;
    }
    .uploadFiled {
        height: 470px;
    }
    .fileDropArea{
        height: 350px;
        width: 250px;
    }
    .inputWrap input{
        width: 300px;
    }
    .inputWrap textarea{
        width: 300px;
    }

    .groupLabel {
        max-width: 300px;
    }
}

@media screen and (max-width: 786px) {
    .container {
        height: fit-content;
        min-height: 1100px;
    }
    .addProductWrap{
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
        height: fit-content;
        padding: 70px 50px;
    }
    .inputFormWrap {
        margin-top: 10px;
        padding: 0px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 1050px;
    }
    .contentContainer {
        padding: 2rem 1rem 0 1rem;
        width: 100%;
        margin-left: 0;
    }
    .addProductWrap {
        width: 90vw;
        padding: 50px 20px;
        margin-bottom: 20px;
    }
    .inputFormWrap {
        position: inherit;
        width: 100%;
    }
    .uploadFiled {
        height: 420px;
    }
    .fileDropArea {
        height: 300px;
    }
    .imagesPreview img{
        width: auto;
        height: 100%;
    }
    .inputWrap {
        padding: 0 10px 0 10px;
        width: 100%;
    }
    .inputWrap input{
        width: 100%
    }
    .inputWrap textarea{
        width: 100%;
    }
    .groupLabel {
        max-width: 100%
    }
}
